.userMian {
  .layTips {
      font-size: 28px;
      text-align: center;
      padding: 10px 0;
  }
  .AtList{margin-bottom: 15px}
}
.userCentent{
    background: #e54847;
    padding: 30px 0;
}
.headloginPic{
    padding:0 12px;
}
.headloginBtn{
    margin-top: 24px;
    color: #fff
}
